
button{
    background-color: inherit;
    border: none;
    
}

.display{
   
    border:5px solid gray;
    border-radius: 10px;
    height: 550px;
    width: 350px;
    margin: 2rem  auto; 
}


.displayRes{
    border: 1px solid white; 
    height: 110px;
    width: 90%;
    border-radius: 12px;
    color: white;
    font-size: 2.5rem;
    text-align: end;
    margin:1rem;
    overflow: hidden;
}

.displayKeys div button{
    width: 50px;
    height: 50px;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 50%;
    margin: 0.7rem;
    font-size: 2.25rem;
}
.displayKeys div button:hover{
    opacity:0.7
}
.displayKeys div{
    text-align: center;   
    
}

.settings{
    padding:0.5rem;
    background-color: rgb(231, 220, 220);
    width: 85%;
    height: 350px;  
}

.alert{
    max-width: 600px;
   
    width: 80%;
    margin: 3em auto;
    position: absolute;
    top:250px;
    background-color: #fff;
    border: 0.01px solid rgba(5, 5, 5, 0.6);
    box-shadow: 0px 4px 10px 0 rgba(5, 5, 5, 0.7), 0 6px 10px 0 rgba(0, 0, 0, 0.69);
    animation: alertbox 0.8s;
}